npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

.eslintcache

# macOS
.DS_Store
*.js~
*.js#

# Environment variable
.env
.env.*
!.env.example

# Device-specific
/.expo/
/node_modules/

