const environmentVariables = {
  development: {
    firebase: {
      apiKey: 'todo',
      authDomain: 'todo',
      databaseURL: 'todo',
      projectId: 'todo',
      storageBucket: 'todo',
      messagingSenderId: 'todo',
      appId: 'todo',
    },
  },
  development: {
    firebase: {
      apiKey: 'todo',
      authDomain: 'todo',
      databaseURL: 'todo',
      projectId: 'todo',
      storageBucket: 'todo',
      messagingSenderId: 'todo',
      appId: 'todo',
    },
  },
  production: {
    firebase: {
      apiKey: 'todo',
      authDomain: 'todo',
      databaseURL: 'todo',
      projectId: 'todo',
      storageBucket: 'todo',
      messagingSenderId: 'todo',
      appId: 'todo',
    },
  },
};

const selectedENV = environmentVariables[process.env.NODE_ENV];

export default selectedENV;
