name: Run test suite

on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [10.x, 12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Start MongoDB
        if: matrix.os  == 'ubuntu-latest'
        uses: supercharge/mongodb-github-action@1.2.0
        with:
          mongodb-version: '4.2'
      - name: npm install
        run: |
          npm ci
      - name: npm test
        run: |
          npm run test-ci
      - name: nmp test server
        if: matrix.os  == 'ubuntu-latest'
        run: |
          npm run ci:server
          npm run test-ci-server
